

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>BoardsterUI Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="adminResources/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="adminResources/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="adminResources/css/vendor.bundle.addons.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="adminResources/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="adminResources/images/favicon.png" />
</head>
<body>
  <div class="container-scroller">
    <!-- page-body-wrapper ends -->
    <div class="text-center d-flex align-items-center justify-content-center">
      <a class=" brand-logo" href="/"><img src="adminResources/images/logo.jpg" alt="logo", style="height: 100px;"/></a>
    </div>

    <div class="text-center d-flex align-items-center justify-content-center">
      <a class="text-primary" style="height: 100px; padding: 100px; font-size: 100px; font-weight: bolder;">404</a>
    </div>
    <div class="text-center d-flex align-items-center justify-content-center">
      <a class="text-primary" style="height: 100px; padding: 50px; font-size: 40px; font-weight: light;">Page Not Found</a>
    </div>
    <button class="button" type="reset" onclick="">Go Home</button>
     
    
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="adminResources/js/vendor.bundle.base.js"></script>
  <script src="adminResources/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="adminResources/js/off-canvas.js"></script>
  <script src="adminResources/js/hoverable-collapse.js"></script>
  <script src="adminResources/js/template.js"></script>
  <script src="adminResources/js/settings.js"></script>
  <script src="adminResources/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="adminResources/js/dashboard.js"></script>
  <!-- End custom js for this page-->
</body>

</html>

